.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    padding-top: 15px;
}
.reserved-car {
    opacity: 0.3
}